@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  outline: none;
}

.container {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(108deg, #e0e0f9 0%, #dadaff 100%);
}

.card {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 10px;
}

h1 {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #28152f;
}

input {
  width: 300px;
  border-radius: 6px;
  border: 1.5px solid #dee1ea;
  padding: 12px 20px;
}

input:focus {
  border-color: #28152f80;
}

.countdown-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0px;
}

.countdown-text > p {
  font-size: 14px;
  font-weight: 400;
  color: #28152f;
}

.countdown-text > button {
  background-color: #ffffff;
  border: none;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.submit-btn {
  width: 100%;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  background: linear-gradient(91deg, #9076fc 0%, #6950ff 100%);
  cursor: pointer;
  transition: all ease 0.2s;
}

.submit-btn:hover {
  color: #6950ff;
  background: #e6e0ffbf;
}
